.list-item{
    width: 150px;
    height: 30px;
    text-align: center;
    position: relative;
    font-size: 16px;
}

.list-item:hover{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color:rgb(255, 221, 176);
    cursor: pointer;
    
}

.del{
    position: absolute;
    right: 3px;
    top: 5px;
    font-size: 12px;
}

del:hover{

    color: brown;
}



span{
    display: block;
}



