.list{
    width: 150px;
    max-height: 500px;
    list-style-type: none;
    border-right: 5px solid black;
    background-color: antiquewhite;
    padding-left: 0;
    margin: 0;
    /* overflow-y: scroll;
    overflow-x: visible; */
}


