.editing-a-list{
    display: none;
    width: 600px;
    height: 500px;
    position: relative;
}

.editing-a-name{
    text-align: center;
}

.editing-a-list__text{
    padding: 20px;
}

.show{
    display: block;
}
